/* 

Color Scheme :
--------------
Darker Green #314135
Dark Green #5b800d
Light Green #ccd8af
Yellow #97974a

*/

body {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1 {
	font-size: 3em;
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	color: #97974a;
}

.logo {
	height: 100px;
	margin: 10px 0;
}

.btn-success {
	background-color: #5b800d;
}

hr {
	border-top: 1px solid #5b800d;
}

.navbar {
	z-index: 100;
}

.affix {
	top: 0;
	left: 0;
	width: 100%;
}

.navbar-default {
	background-color: #104312;
}

#navigation li a {
	border-bottom: 4px solid rgba(0,0,0,0);
	padding-top: 19px;
	color: white;
}

#navigation li a:hover {
	border-bottom: 4px solid #5b800d;
	color: #97974a;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #97974a;
}

.navbar-toggle {
	border: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.fa-laptop {
	font-size: 4em;
}

#hero {
	background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('../img/la_background.jpg') center center fixed no-repeat;
	background-size: cover;
	padding-top: 30px;
	height: 600px;
}

#hero .well {
	margin-top: 20px;
}

#services {
	padding: 40px 20px;
}

h4 {
	font-weight: bold;
	font-size: 1.5em;
}

.circle-icon {
	height: 80px;
	width: 80px;
	padding: 25px;
	border-radius: 50%;
	background-color: #337ab7;
	color: white;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}

.f-icon {
	text-align: center;
}

#services div .row:before,
#services div .row:after,
#services .container:before,
#services .container:after {
   content: normal; // IE doesn't support `initial`
   display: inline-block;
}

.row.fix {
  display: flex;
  flex-wrap: wrap;
  width:100%; /*not always necessary*/
}

.service p {
	padding: 15px;
}

.footer_logo {
	height: 50px;
	margin: 40px auto;
}